<div class="positional-content__header">
    <positional-content-breakpoints state="state" model-value="modelValue" tabs="true"></positional-content-breakpoints>

    <ul class="positional-content__global-controls" ng-if="modelValue.primaryImage">
        <li>
            <a href class="positional-content__global-controls__start-again" ng-click="clearAll()">Start Again</a>
        </li>
        <li class="positional-content__global-controls__site">
            <a target="_blank" href="http://www.positionalcontent.com" title="Support & Help">
                <img src="../App_Plugins/PositionalContent/icon.svg" class="positional-content__global-controls__site__icon" />
            </a>
        </li>
    </ul>
</div>