<form class="umb-panel position-content-editor" ng-controller="HiFi.PositionalContentDialogController" val-form-manager>

        <umb-header tabs="tabs">
            <h1 class="headline" ng-bind-html="title"></h1>
        </umb-header>


        <div class="umb-panel-body with-footer no-header" auto-scale="90">
            <umb-tab-view>

                <umb-tab id="tab1" rel="svensson">

                    <div class="umb-pane">

                        <div class="text-right" label="Overridden" description="" ng-if="content.value != undefined">
                            <label style="float: right; padding-left: 10px" for="overrideContent">
                                Overridden
                            </label>
                            <div class="controls controls-row">
                                <input type="checkbox" id="overrideContent" ng-model="breakpoint.overrideContent" />
                            </div>
                        </div>

                        <div ng-if="!breakpoint.overrideContent">
                            <positional-content-settings settings="content"></positional-content-settings>
                        </div>

                        <div ng-if="breakpoint.overrideContent">
                            <positional-content-settings settings="breakpointContent"></positional-content-settings>
                        </div>

                    </div> 

                </umb-tab>

                <umb-tab id="tab2" rel="svensson">

                    <div class="umb-pane">

                        <div class="text-right" label="Overridden" description="" ng-if="settings.content != undefined">
                            <label style="float: right; padding-left: 10px" for="overrideSettings">
                                Overridden
                            </label>

                            <div class="controls controls-row">
                                <input type="checkbox" id="overrideSettings" ng-model="breakpoint.overrideSettings" />
                            </div>
                        </div>

                        <hr />

                        <div ng-if="!breakpoint.overrideSettings">
                            <positional-content-settings settings="settings"></positional-content-settings>
                        </div>

                        <div ng-if="breakpoint.overrideSettings">
                            <positional-content-settings settings="breakpointSettings"></positional-content-settings>
                        </div>

                    </div>

                </umb-tab>

                <umb-tab id="tab3" rel="svensson">

                    <div class="umb-pane">

                        <div class="umb-property ng-scope" label="Url" description="">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <label ng-if="hideLabel!=='true'" class="control-label ng-scope ng-binding" for="">
                                        Top
                                    </label>

                                    <div class="controls controls-row positional-editor">
                                        <input type="text" name="textbox" ng-model="breakpoint.top" id="title" ng-change="updateDimensions(breakpoint, 'top')" class="umb-editor umb-textstring textstring " select-on-click autocomplete=off><span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="umb-property ng-scope" label="Left" description="">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <label ng-if="hideLabel!=='true'" class="control-label ng-scope ng-binding" for="">
                                        Left
                                    </label>

                                    <div class="controls controls-row positional-editor">
                                        <input type="text" name="textbox" ng-model="breakpoint.left" id="title" ng-change="updateDimensions(breakpoint, 'left')" class="umb-editor umb-textstring textstring" select-on-click autocomplete=off><span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="umb-property ng-scope" label="Right" description="">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <label ng-if="hideLabel!=='true'" class="control-label ng-scope ng-binding" for="">
                                        Right
                                    </label>

                                    <div class="controls controls-row positional-editor">
                                        <input type="text" name="textbox" ng-model="breakpoint.right" id="title" ng-change="updateDimensions(breakpoint, 'right')" class="umb-editor umb-textstring textstring" select-on-click autocomplete=off><span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="umb-property ng-scope" label="Bottom" description="">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <label ng-if="hideLabel!=='true'" class="control-label ng-scope ng-binding" for="">
                                        Bottom
                                    </label>

                                    <div class="controls controls-row positional-editor">
                                        <input type="text" name="textbox" ng-model="breakpoint.bottom" id="title" ng-change="updateDimensions(breakpoint, 'bottom')" class="umb-editor umb-textstring textstring" select-on-click autocomplete=off><span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="umb-property ng-scope" label="Scale" description="">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <label ng-if="hideLabel!=='true'" class="control-label ng-scope ng-binding" for="">
                                        Scale
                                    </label>

                                    <div class="controls controls-row positional-editor">
                                        <input type="text" name="textbox" ng-model="breakpoint.scale" id="title" class="umb-editor umb-textstring textstring small" ng-change="cropper.validateScaleChange(state, breakpoint, '{{breakpoint.scale}}')" select-on-click autocomplete=off><span>x</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>

                </umb-tab>

            </umb-tab-view>

        </div>

        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a ng-click="close()" class="btn btn-link">
                        <localize key="general_cancel">Cancel</localize>
                    </a>
                    <a ng-click="save()" class="btn btn-primary">
                        <localize key="actions_update">Update</localize>
                    </a>
                </div>
            </div>
        </div>
</form>
