<div ng-controller="HiFi.PositionalContent.PropertyBreakpoints">

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Crop Width</th>
                <th>Crop Height</th>
                <th>Breakpoint Upper</th>
                <th>Breakpoint Lower</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable="sortableOptions">
            <tr ng-repeat="item in model.value.items">
                <td class="icon icon-navigation"></td>
                <td><input type="text" ng-model="item.name" required /></td>
                <td><input class="form-control input-sm" type="number" pattern="[0-9]*" ng-model="item.cropWidth" fix-number required /></td>
                <td><input type="number" pattern="[0-9]*" ng-model="item.cropHeight" fix-number required /></td>
                <td><input type="number" pattern="[0-9]*" ng-model="item.breakpointUpper" fix-number /></td>
                <td><input type="number" pattern="[0-9]*" ng-model="item.breakpointLower" fix-number /></td>
                <td><button class="btn" ng-click="remove($index)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <a class="btn" ng-click="add()">
            <localize key="general_add">Add</localize>
        </a>
    </div>

</div>